<h1>Welcome Back. Here's your profile</h1>

<table id="userProfile">
  <th>
    <tr><td>Username</td><td>Email Address</td></tr>
  </th>
</table>

<script type="text/template" id="user-template">
  <td>{{username}}</td><td>{{email}}</td>
</script>