<h1>Welcome Back. Here's your profile</h1>

<table class="userProfile">
  <th>
    <tr><td>Username</td><td>Email Address</td></tr>
  </th>
</table>

<script type="text/template" id="profiletemplate">
  <td>{{username}}</td><td>{{email}}</td>
  <button class="edit">Edit</button>
</script>



