/*// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

$gray: #95a5a6;
$asbestos: #7f8c8d;

/*index/login page*/

body {
  background-color:#fff;
  font-family: 'Oxygen', sans-serif;
}

.container {
    padding: 25px;
    position: auto 0;
}

.form-login {
    background-color: $gray;
    color: white;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color: $asbestos;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

h1, h4 {
 border: 0 solid #fff;
 border-bottom-width: 1px;
 padding-bottom: 10px;
 text-align: center;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}


